<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Catalog</title>
</head>
<body>
    <h1>Product Catalog</h1>
    <section class="main_page">
        <div class="container">
            <h1 class="p_category">{{ category }}</h1>
            <h3 class="p_name">{{ name }}</h3>
            <p class="description">{{ description }}</p>
            <p class="price">Kes. {{ price }}</p>
        </div>
    </section>
</body>
</html>